#ro-w-news h3 {
	text-align: center;
	background: rgb(40,40,40);
    color: white;
    font-size: 20px;
    padding-top: 5px;
    margin: 0px;
    min-height: 32px;
}

#ro-w-news ul li {
	list-style: none;
    margin-top: 10px;
}

#ro-w-news ul li span {
	background: #2a82ba;
	color: #fff;
	width: 50px;
	padding: 0 6px;
	margin-right: 5px;
}

#ro-w-news ul li a {
	text-decoration: none;
	color: black;
}

#ro-w-news ul li a:hover {
	text-decoration: underline;
}

#ro-w-news .ro-w-news-date {
	font-size: 20px;
	border-bottom: 1px solid #bbb;
}